<div class="dashboard-menu-left">
    <b>Navigation</b>
    <div><span><i class="bi bi-cpu"></i></span>Dashboard</div>
    <div><span><i class="bi bi-cpu"></i></span>Dashboard</div>
    <div><span><i class="bi bi-cpu"></i></span>Dashboard</div>
    <b>Components</b>
    <div><span><i class="bi bi-cpu"></i></span>Dashboard</div>
    <div><span><i class="bi bi-cpu"></i></span>Dashboard</div>
    <div><span><i class="bi bi-cpu"></i></span>Dashboard</div>
    <div><span><i class="bi bi-cpu"></i></span>Dashboard</div>
    <div><span><i class="bi bi-cpu"></i></span>Dashboard</div>
    <div><span><i class="bi bi-cpu"></i></span>Dashboard</div>
    <div><span><i class="bi bi-cpu"></i></span>Dashboard</div>
    <div><span><i class="bi bi-cpu"></i></span>Dashboard</div>
    <div><span><i class="bi bi-cpu"></i></span>Dashboard</div>
    <b>Users</b>
    <div><span><i class="bi bi-cpu"></i></span>Dashboard</div>
    <div><span><i class="bi bi-cpu"></i></span>Dashboard</div>
    <div><span><i class="bi bi-cpu"></i></span>Dashboard</div>
    <div><span><i class="bi bi-cpu"></i></span>Dashboard</div>
    <button class="orange-color-border"><a href="login.html">Logout</a></button>
</div>