<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>

<body>
  <app-navbar></app-navbar>
  <div class="dashboard-main">
    <div class="col-2">
      <app-mainmenu [ngClass]="showMenu ? 'visible' : 'invisible'"></app-mainmenu>
    </div>
    <div class="col-10">
      <div class="dashboard-container">
        <h1>Dashboard</h1>
      </div>
    </div>
  </div>
</body>

</html>